[MESSAGES CONTROL]
disable = C,R,W,E0602,E0606,E0001,E0601

; (C) Convention: Coding standard issues that indicate non-adherence to recommended coding style.
; (R) Refactor: Suggestions for code that could be refactored to be cleaner or more efficient.
; (W) Warning: Issues that could cause problems but might not prevent the code from running.
; (E) Error: Errors that will likely prevent the code from running.
; (F) Fatal: Severe issues that prevent pylint from analyzing the file further.